<h1>My tasks</h1>
<ul class="list-group">
  <% @tasks.each do |task| %>
  <li class="list-group-item task-item">
    <input type="checkbox" <%= "checked" if task.completed %> disabled>
    <%= link_to task.title, task_path(task), class: "task-item-name" %>
    <%= link_to task_path(task), method: :delete, data: {confirm: "Delete #{task.title}?" }, class: "icon" do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </li>
  <% end %>
</ul>
<hr>
<%= link_to new_task_path do %>
  <i class="fas fa-plus"></i> Add a new task
<% end %>
